  button {
    margin-top: 14px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 83.333% */
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }

  button:hover .line-image {
    opacity: 1;
  }
  
  button .line-image {
    position: absolute;
    transform: translate(0, 5px);
    opacity: 0;
    transition: opacity 0.5s ease;
  }