<div id="head">
  <video id="videoHead" src="/assets/img/video.mp4" autoplay loop muted></video>
  <div id="content">
    <img src="/assets/img/drupal-coder.svg" alt="Логотип" id="logo">
    <button>ПОДДЕРЖКА САЙТОВ</button>
    <button>ТАРИФЫ</button>
    <button>НАШИ РАБОТЫ</button>
    <button>ОТЗЫВЫ</button> 
    <button>КОНТАКТЫ</button>
    <button id="number">8 800 222-26-73</button>
    <button id="lang">RU</button>
    <img src="/assets/img/arrow-lang.svg" alt="Стрелочка" id="str">
  </div>

  <div id="container">
    <div id="first-column">
      <h1 id="page-title">Поддержка <br> сайтов на Drupal</h1>
      <div id="support-main-description">
        Сопровождение и поддержка сайтов <br> на CMS Drupal любых версий и запущенности
      </div>
      <button id="block-main-wrapper">ТАРИФЫ</button>
    </div>

    <!-- <div id="second-column">

      <div id="one-place">
        <h1 id="support-achievement-title">
          #1 <img alt="1 place" src="/assets/img/cup.png">
        </h1>
        <div >Drupal-разработчик
          в России по версии Рейтинга Рунета</div>
      </div> -->
<!-- как-то криво получается. надо подумать -->
  </div>

</div>
