<div id="head">
  <video id="videoHead" src="/assets/img/video.mp4" autoplay loop muted></video>
  <div id="content">
    <img src="/assets/img/drupal-coder.svg" alt="Логотип" id="logo">
    <button>ПОДДЕРЖКА САЙТОВ</button>
    <button>ТАРИФЫ</button>
    <button>НАШИ РАБОТЫ</button>
    <button>ОТЗЫВЫ</button> 
    <button>КОНТАКТЫ</button>
    <button id="number">8 800 222-26-73</button>
    <button id="lang">RU</button>
    <img src="/assets/img/arrow-lang.svg" alt="Стрелочка" id="str">
  </div>

  <div id="container">
    <div id="first-column">
      <p id="p1Col">Поддержка <br> сайтов на Drupal</p>
      <p id="p2Col">Сопровождение и поддержка сайтов <br> на CMS Drupal любых версий и запущенности</p>
    </div>

    <div id="second-column">
      <p>Drupal-разработчик в России по версии Рейтинга Рунета</p>
    </div>
  </div>
</div>
