<div id="render_head" class="absolute top-0"></div>
<div id="block1">
  <div class="mx-24 my-8">
    <div class="h-32">
      <div id="content">
        <img src="/assets/img/drupal-coder.svg" alt="Логотип" id="logo">
        <head-button innerText="ПОДДЕРЖКА DRUPAL"></head-button>
        <head-button innerText="АДМИНИСТРИРОВАНИЕ" menuId="#menu1"></head-button>
        <head-button innerText="ПРОДВИЖЕНИЕ"></head-button>
        <head-button innerText="РЕКЛАМА"></head-button>
        <head-button innerText="О НАС" menuId="#menu2"></head-button>
        <head-button innerText="ПРОЕКТЫ"></head-button>
        <head-button innerText="КОНТАКТЫ"></head-button>

        <button-menu id="menu1" [menuSection]="['МИГРАЦИЯ', 'БЭКАПЫ', 'АУДИТ БЕЗОПАСНОСТИ', 'ОПТИМИЗАЦИЯ СКОРОСТИ', 'ПЕРЕЕЗД НА HTTPS']" [sectionLink]="['/', '/', '/', '/', '/']" #buttonMenu></button-menu>
        <button-menu id="menu2" [menuSection]="['КОМАНДА', 'DRUPALGIVE', 'КУРСЫ DRUPAL', 'ВАКАНСИИ']" [sectionLink]="['/', '/', '/', '/']" #buttonMenu></button-menu>

      </div>
    </div>
    
    <div id="container" class=" z-[1] flex">
      <div class="w-1/3">
        <h1 id="page-title">Поддержка <br> сайтов на Drupal</h1>
        <div id="support-main-description">
          Сопровождение и поддержка сайтов <br> на CMS Drupal любых версий и запущенности
        </div>
        <button>ТАРИФЫ</button>
      </div>
      <div class="w-1/2">
        <div class="flex">
          <div class="w-1/4">
            <drupal-desc titleClass="one-place" titleText="#1" titleImgLink="/assets/img/cup.png" innerText="Drupal-разработчик <br> в России по версии <br> Рейтинга Рунета"></drupal-desc>
          </div>
          <div class="w-1/4">
            <drupal-desc titleClass="common" titleText="3+" innerText="средний опыт <br> специалистов более <br> 3 лет"></drupal-desc>
          </div>
          <div class="w-1/4">
            <drupal-desc titleClass="common" titleText="14" innerText="лет опыта в сфере <br> Drupal"></drupal-desc>
          </div>
        </div>
      
        <div class="flex">
          <div class="w-1/4">
            <drupal-desc titleClass="common" titleText="200+" innerText="модулей и тем <br> в формате DrupalGive"></drupal-desc>
          </div>
          <div class="w-1/4">
            <drupal-desc titleClass="common" titleText="35 000" innerText="часов поддержки <br> сайтов на Drupal"></drupal-desc>
          </div>
          <div class="w-1/4">
            <drupal-desc titleClass="common" titleText="200+" innerText="Проектов <br> на поддержке"></drupal-desc>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
