<section id=".section_head">
    <app-header></app-header>
</section>

<section id=".section_info">
    <app-info></app-info>
</section>

<section class="section_support">
    <app-support></app-support>
</section>

<section class="section_expertise">
    <app-expertise></app-expertise>
</section>

<section class="section_tariffs">
    <app-tariffs></app-tariffs>
</section>

<section class="section_professionals">
    <app-professionals></app-professionals>
</section>

<section class="section_team">
    <app-team></app-team>
</section> 

<section class="section_professionals">
    <app-cases></app-cases>
</section>
<!-- 
<section class="section_feedback">
    <app-feedback></app-feedback>
</section>

<section class="section_clients">
    <app-clients></app-clients>
</section>

<section class="section_faq">
    <app-faq></app-faq>
</section>

<section class="section_footer">
    <app-footer></app-footer>
</section>

<router-outlet></router-outlet> -->