#block5 {
    background-image: url("/assets/img/D.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 40px;
    margin-top: 1332px;
}

#title {
    display: flex;
    margin-bottom: 15px;
    margin-top: 86px;
    width: 320px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


button span {
    color: var(--main-black, #050C33);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 0.72px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

button {
    display: flex;
    width: 290px;
    height: 60px;
    padding: 0px 5px 0px 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#lower-info {
    width: 390px;
    color: var(--main-black, #050C33);
    text-align: center;

    /* text/16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    opacity: 0.5;
}

@media only screen and (min-width: 640px) {
    #lower-info {
        width: 468px;
    }

    #title { 
        width: 580px;
        font-size: 42px;
        margin-bottom: 86px;
        margin-top: 80px;
    }

    #blocks {
        margin-bottom: 72px;
    }

}

@media only screen and (min-width: 1024px) {
    #block5 {
        margin-bottom: 160px;
        margin-top: 731px;
        background-size: 100%;
    }
}