<div id="block4">
    <img src="/assets/img/Rectangle 3.3.svg" id="background-img-shadow" alt="Notebook">
    <img src="/assets/img/Group_note.svg" id="background-img" alt="Notebook">
    <div id="inner-block">
        <div class="flex">
            <div id="title">
                Экспертиза в Drupal, опыт 14 лет!
            </div>
        </div>
        <div class="flex">
            <expertise-desc innerText="Только системный подход – контроль версий, резервирование и тестирование!"></expertise-desc>
            <expertise-desc innerText="Только Drupal сайты, не берем на поддержку сайты на других CMS!"></expertise-desc>
        </div>
    </div>
</div>