#block3 {
    z-index: 1;
    margin-bottom: 390px;
}

#title {
    width: 406px;
    color: var(--main-black, #050C33);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 56px;
}

@media only screen and (min-width: 600px) {
    #title {
        font-size: 42px; 
    }

    #blocks {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
  }