#block3 {
    position: relative;
    z-index: 50;
    flex-shrink: 0;
}

#title {
    width: 206px;
    color: var(--main-black, #050C33);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (min-width: 640px) {
    #title {
        font-size: 42px; 
        width: 406px;
        margin-bottom: 56px;
    }
}