.icon-b {
    position: absolute;
    transform: translateY(17px) translateX(-55px);
    width: 114px;
    height: 71px;
    flex-shrink: 0;
  }
  
  .icon-m {
    width: 81px;
    height: 81px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }

  .desc-text {
    color: var(--main-black, #050C33);
    width: 182px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    opacity: 0.7;
  }

  .desc-block {
    margin-right: 117px;
    margin-bottom: 50px;
  }