#block2 {
  position: relative;
  margin-bottom: 110px;
  margin-left:25px;
}

#main_title {
  color: var(--main-black, #050C33);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  margin-bottom: 20px;
}

#main_desc {
  color: var(--main-black, #050C33);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  line-height: 22px;
  opacity: 0.7;
  margin-top: 18px;
}

.desc-block {
  width: 182px;
  height: 194px;
  flex-shrink: 0;
}

@media only screen and (min-width: 600px) {
  #main_title {
    font-size: 42px;
    width: 580px;
    margin-bottom: 63px;
  }
  #main_desc {
    width: 493px;
  }

}
