<div class="flex justify-center">
    <div id="block6">
        <div id="block6-inner">
            <div class="flex justify-center" id="title">
                Последние кейсы
            </div>
            <div class="flex justify-center">
                <div class="grid grid-cols-3 gap-x-[20px] gap-y-[20px]">
                    <image-small ImgLink="/assets/img/s1.png" title="Настройка выгрузки YML для Яндекс.Маркета" date="22.04.2019" description="Эти слова совершенно справедливы, однако гипнотический рифф продолжает паузный пласт."></image-small>
                    <image-large class="col-span-2" ImgLink="/assets/img/s2.png" title="Настройка выгрузки YML для Яндекс.Маркета"></image-large>
                    <image-medium ImgLink="/assets/img/s3.png" title="Настройка выгрузки YML для Яндекс.Маркета" date="22.04.2019"></image-medium>
                    <image-medium ImgLink="/assets/img/s5.png" title="Настройка выгрузки YML для Яндекс.Маркета" date="22.04.2019"></image-medium>
                    <image-small ImgLink="/assets/img/s6.png" title="Настройка выгрузки YML для Яндекс.Маркета" date="22.04.2019" description="Эти слова совершенно справедливы, однако гипнотический рифф продолжает паузный пласт."></image-small>
                    <image-large class="col-span-2" ImgLink="/assets/img/s4.png" title="Настройка выгрузки YML для Яндекс.Маркета"></image-large>
                    <image-medium ImgLink="/assets/img/s6.png" title="Настройка выгрузки YML для Яндекс.Маркета" date="22.04.2019"></image-medium>
                </div>
            </div> 
        </div>
        <div class="flex justify-center">
            <button> <span>Показать ещё</span> </button>
        </div>
    </div>
</div>