<div id="block-10">
    <div class="flex justify-center">
        <div id="title">С нами работают</div>
    </div>
    <div class="flex justify-center">
        <div id="desc">Десятки компаний доверяют нам самое ценное, что у них есть в интернете – свои сайты. Мы делаем всё, чтобы наше сотрудничество было долгим.</div>
    </div>
    <ngx-slick-carousel class="carousel my-[20px]" [config]="carouselConfig">
        <div ngxSlickItem class="slide img-block"><img src="/assets/img/comp1.png"></div>
        <div ngxSlickItem class="slide img-block"><img src="/assets/img/comp2.png"></div>
        <div ngxSlickItem class="slide img-block"><img src="/assets/img/comp3.png"></div>
        <div ngxSlickItem class="slide img-block"><img src="/assets/img/comp1.png"></div>
        <div ngxSlickItem class="slide img-block"><img src="/assets/img/comp2.png"></div>
        <div ngxSlickItem class="slide img-block"><img src="/assets/img/comp3.png"></div>
    </ngx-slick-carousel>
    <ngx-slick-carousel class="carousel" [config]="carouselConfig2">
        <div ngxSlickItem class="slide img-block2"><img src="/assets/img/comp3.png"></div>
        <div ngxSlickItem class="slide img-block2"><img src="/assets/img/comp2.png"></div>
        <div ngxSlickItem class="slide img-block2"><img src="/assets/img/comp1.png"></div>
        <div ngxSlickItem class="slide img-block2"><img src="/assets/img/comp3.png"></div>
        <div ngxSlickItem class="slide img-block2"><img src="/assets/img/comp2.png"></div>
        <div ngxSlickItem class="slide img-block2"><img src="/assets/img/comp1.png"></div>
    </ngx-slick-carousel>
    <div id="clients-main-decoration2"></div>
</div>