#block8 {
    margin-bottom: 160px;
}

#title {
    color: var(--main-black, #050C33);
    text-align: center;

    /* titles/h2 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#decoration1 {
    width: 300px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    opacity: 0.34;
    background: #FFF;
    box-shadow: 0px 4px 60px 0px rgba(161, 161, 161, 0.25);
    margin-top: 43px;
}

#decoration2 {
    width: 330px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    opacity: 0.5;
    background: #FFF;
    box-shadow: 0px 4px 60px 0px rgba(161, 161, 161, 0.25);
    margin-top: 30px;
}

#feedback-main-decoration {
    padding-top: 67px;
    padding-bottom: 67px;
    margin-top: 80px;
    width: 370px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 4px 60px 0px rgba(161, 161, 161, 0.25);
}

#feedback {
    margin-top: -20px;
}

.button-block {
    margin-top: 40px;
    height: 50%;
}

.slider-curr {
    color: var(--main-black, #050C33);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.slider-curr2 {
    color: var(--Gray-5, #E0E0E0);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.arrow-r {
    width: 18px;
    height: 32px;
    background-image: url("/assets/img/arrow-right.svg");
}

.arrow-l {
    width: 18px;
    height: 32px;
    background-image: url("/assets/img/arrow-left.svg");
}

.rotate-90 {
    transform: rotate(90deg);
  }

@media only screen and (min-width: 640px) {
    #title {
        font-size: 42px;
    }

    #feedback-main-decoration {
        width: 980px;
    }

    #decoration2 {
        width: 852px;
        height: 457px;
        margin-top: 0px;
    }

    #decoration1 {
        width: 724px;
        height: 466px;
        margin-top: 0px;
    }

    .rotate-90 {
        transform: rotate(180deg);
      }

    .button-block {
        margin-top: auto;
    }

    #feedback {
        margin-top: 46px;
    }

}