#team {
    margin-bottom: 55px;
}

img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    flex-shrink: 0;
    margin-bottom: 30px;
}

#title {
    width: 280px;
    color: var(--main-black, #050C33);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
}

#desc {
    width: 280px;
    color: var(--main-black, #050C33);

/* text/16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    opacity: 0.7;
}