<div id="block7">
    <div class="flex justify-center">
        <div id="title">Команда</div>
    </div>
    <div class="flex justify-center">
        <div>
            <div class="grid grid-cols-3 gap-x-[120px]">
                <team-block ImgLink="/assets/img/img1.png" title="Лёша" description="руководитель поддержки, планирование задач"></team-block>
                <team-block ImgLink="/assets/img/img2.png" title="Роман" description="инфраструктура веб-проектов"></team-block>
                <team-block ImgLink="/assets/img/img3.png" title="Ирина" description="менеджер по работе с клинетами, организация оказания услуг"></team-block>

                <team-block ImgLink="/assets/img/img3.png" title="Даша" description="SEO, веб-маркетинг"></team-block>
                <team-block ImgLink="/assets/img/img1.png" title="Сергей" description="технический директор, 14 лет опыт работы с Drupal"></team-block>
                <team-block ImgLink="/assets/img/marat.jpg" title="Марат" description="чемпион России по ВЕБ-разработке"></team-block>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <button> <span>ВСЯ КОМАНДА</span> </button>
    </div>
</div>