<div id="contact">
    <input type="text" class="field" placeholder="Ваше имя" #form_name>
    <input type="text" class="field" placeholder="Телефон" #form_phone>
    <input type="email" class="field" placeholder="E-mail" #form_mail>
    <textarea class="field2" placeholder="Ваш комментарий" #form_field2></textarea>
    <label class="flex custom-checkbox">
      <input class="hidden-checkbox" type="checkbox" #form_box>
      <span class="checkmark transform translate-y-[5px] lg:translate-y-[0px] mr-[10px] lg:mr-[2px] scale-[130%] lg:scale-[100%]"></span>
      <div id="checkText">Отправляя заявку, я даю согласие на <a href="/" style="color: #f14d34;">обработку своих персональных данных.</a> <a style="font-size: 20px; color: red;">*</a></div>
    </label>
    <button (click)="send()"><span>СВЯЖИТЕСЬ С НАМИ</span></button>
    <div id="stat" #status></div>
    
    <div class="hidden" #loading>
      <div class="loading flex justify-center mt-[5px]">
        <img src="/assets/img/loading.png" alt="Loading">
      </div>
    </div>
</div>